/*
.wy-side-nav-search, .wy-nav-top {
   background: #f2f2f2;
}

.wy-side-nav-search div.version {
   color: black;
}

#rtd-search-form input {
   border: 0px;
}
*/

.wy-nav-content {
   max-width: none;
}
