/*!
 * @name          Readthedocs
 * @namespace     http://userstyles.org
 * @description	  Styles the documentation pages hosted on Readthedocs.io
 * @author        Anthony Post
 * @homepage      https://userstyles.org/styles/142968
 * @version       0.20170529055029
 *
 * Modified by Aloïs Dreyfus: 20190726-1417
 */
/*
a:visited {
	color: #bf84d8;
}
*/
pre {
	background-color: #161616; !important;
        /*font-weight: bold;*/
}

/* PAGE PRINCIPALE */
.wy-nav-content {
        background: #0f0f0f;
        color: white;
}
.wy-nav-content-wrap {
    background-color: #0f0f0f;
}


.rst-content .linenodiv pre, .rst-content div[class^=highlight] pre, .rst-content pre.literal-block {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
    font-size: 18px;
    line-height: 1.4;
}

h1 {
	color: #ffffff;
	text-shadow: 2px 2px 2px #000000;
}



body {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
    font-weight: 900;
    font-size: 18px;
}

h2 {
	color: #f6a5ff;
	text-shadow: 2px 2px 2px #000000;
}

h3, h4, h5, h6 {
        color: #0284aa;
        text-shadow: 2px 2px 2px #000000;
}

.rst-content code.literal, .rst-content tt.literal {
    color: #ff0000;
    /* background: #ffffff; */
    font-weight: bold;
    border: 0;
}

.wy-breadcrumbs {
        visibility: collapse;
}

.highlight * {
        font-size: 18px;
}

/* Les commentaires bash */
.highlight .c1 {
        color: #41f4f4;
}

.highlight .nv {
        color: #ff86c8;
}

.highlight .s2 {
    color: #fff033;
}

/* Opérateurs */
.highlight .o {
    color: #03ff00;
}

.highlight .m {
    color: #ff2e2e;
}

.highlight .nn {
    color: #ff0000;
}


.highlight .ss {
    color: #4642ff;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #f6a5ff;
    text-shadow: 2px 2px 2px #000000;
    background-color: #1c1c1c;
}

/*
.method dt, .class dt, .data dt, .attribute dt, .function dt,
	.descclassname, .descname {
	background-color: #525252 !important;
	color: white !important;
}
*/

/*
.toc-backref {
	color: grey !important;
}*/

/*
code.literal {
	background-color: #2d2d2d !important;
	border: 1px solid #6d6d6d !important;
}
*/


.wy-nav-side {
	background: #171717;
}

/*
.sidebar {
	background-color: #191919 !important;
}

.sidebar-title {
	background-color: #2b2b2b !important;
}
.xref, .py-meth {
	color: #7ec3e6 !important;
}

*/
.admonition, .note {
	background-color: #2d2d2d !important;
}

.wy-side-nav-search>div.version {
	/*background-color: inherit*/
	/*border-bottom: 1px solid #fcfcfc;*/
	font-weight: 900;
	color: white;
}

.wy-side-nav-search {
	background-color: #002530;
}

/*
.wy-table thead, .rst-content table.docutils thead, .rst-content table.field-list thead {
    background-color: #b9b9b9;
}

.wy-table thead th, .rst-content table.docutils thead th, .rst-content table.field-list thead th {
    border: solid 2px #e1e4e5;
}

.wy-table thead p, .rst-content table.docutils thead p, .rst-content table.field-list thead p {
    margin: 0;
}

.wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td, .rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background-color: #343131;
}
*/
/*.highlight .m { color: inherit } /* Literal.Number */
/*.highlight .nv { color: #3a7ca8 } /* Name.Variable */
